{% extends "base.html" %}
{% load static %}

{% block title %}
<h2 id="pagetitle">À propos</h2>
{% endblock %}

{% block paragraphe %}

<section class="bdg-sect">
    
    <p class="paragraph">Cette plateforme est le résultat de notre projet de première année à CentraleSupélec dans le cadre du pôle Projet 'Intelligence Artificelle'
    </p>
    <p class="paragraph"> <b>Membres de l'équipe :</b>
    	<ul>
    		<li>Victor Gauthier</li>
    		<li>Romain Caplier</li>
    		<li>Benjamin Faye</li>
    		<li>Géraud Faye</li>
    		<li>Maxence Gélard</li>

    	</ul>
    </p> 
    
    



  </section>
  
{% endblock %}
