{% extends "base.html" %}
{% load static %}

{% block title %}
<h2 id="pagetitle">Puissance 4</h2>
{% endblock %}

{% block paragraphe %}

<section class="bdg-sect">
    <h1 class="bigheading">Puissance 4</h1>
    <p class="paragraph">Après avoir implémenté le puissance 4 entre deux joueurs (vous n’avez pas à le faire), on cherche à remplacer le second joueur par une IA. Pour effectuer cela, on a déjà vu l’algorithme Minimax sur le TicTacToe. On va réutiliser cet algorithme afin de créer une IA sur le Puissance 4. </p>
    <p class="paragraph">Comme le Puissance 4 est un jeu plus complexe que le TicTacToe, on ne peut pas parcourir tout l’arbre des solutions à chaque étape du jeu (la grille de jeu est trop grande). On va donc définir une profondeur de recherche, correspondant au nombre de coups que l’ordinateur va anticiper. C’est-à-dire que si on définit une profondeur de recherche à 4, l’ordinateur va calculer les coups possibles sur les 4 prochains tours afin de déterminer le meilleur coup à jouer.</p>
    <p class="paragraph">Afin de juger la pertinence des coups calculés (qui ne mène pas forcément à une fin de jeu), il faut définir une heuristique qui est concrètement une fonction qui renvoie une valeur en fonction de la situation de jeu actuelle. Comme on utilise l’algorithme Minimax, la valeur renvoyée par la fonction heuristique doit être grande et positive si la situation actuelle est un bon tour pour le joueur 1 et grande et négative si la situation actuelle est un bon tour pour le joueur 2 (l’ordinateur). Il faut donc trouver une façon de mesurer la pertinence d’un coup pour les deux joueurs.</p>
    <p class="paragraph">Pour simplifier la recherche d’heuristique, on va utiliser une profondeur de recherche faible : p=2. L’ordinateur va donc regarder les coups que lui-même peut jouer et les coups que je pourrais jouer suite au sien. On se place dans la situation suivante :</p>
    <img src="{% static 'blog/img/connectfour/site_imgs_debutpuissance4.jpg' %}" alt="Notre situation de départ" class="center"/>
    <p class="paragraph">Dans cette situation, c’est à moi de jouer (en jaune) pour tenter d’aligner 4 pions. Imaginons que je souhaite continuer sur la ligne du bas, je vais donc jouer soit dans la colonne 6 soit dans la colonne 7 (on suppose dans la suite que j’ai joué dans la colonne 6). C’est maintenant au tour de l’ordinateur : comme on est au début de la partie, tous les coups sont possibles (colonnes 1 à 7). Si l’ordinateur joue sur la colonne 7, il me bloque. Sinon, je peux aligner 4 pions et donc gagner la partie. </p>
    <p class="paragraph">L’heuristique à ce moment doit donc lui transmettre une valeur qui lui fasse jouer sur la colonne 7 permet de gagner. Par symétrie, il faut que l’heuristique renvoie une valeur très négative pour les coups permettant à l’ordinateur de gagner.</p>
    <p class="paragraph">On peut donc imaginer pour commencer cette fonction :</p>
    <pre>

      def heuristique(self):
          if self.winning(True):
              return 10
          elif self.winning(False):
              return -10
          else:
              return 0
    </pre>
    <p class="paragraph">En utilisant cette fonction, l’ordinateur va me bloquer dans certaines situations mais je peux encore facilement gagner contre lui. Il faut donc améliorer l’heuristique.</p>
    <p class="paragraph">Il faut que l’heuristique prenne en compte qu’il est plus avantageux de gagner en un tour qu’en 3. Or ici ce n’est pas le cas. Comme on a pas accès au paramètre de profondeur avec l’heuristique, on peut compter les pièces sur le plateau pour mesurer l’avancée de la partie.</p>
    <p class="paragraph">On a donc cette nouvelle fonction :</p>
    <pre>

        def heuristique(self):
            #permet d'estimer la valeur d'une instance
            if self.winning(True):
                #On teste si un des joueurs gagne et on y met un poids conséquent si c'est le cas.
                return 100*(42-self.nombre_de_pieces())
            elif self.winning(False):
                return -100*(42-self.nombre_de_pieces())
            else:
                return 0
    </pre>
    <p class="paragraph">Ici, on renvoie donc un score plus élevé si on gagne en peu de tours (et donc avec moins de pièces jouées). Cette heuristique est déjà beaucoup plus performante puisqu’elle permet d’établir un ordre de priorité entre deux situations gagnantes.</p>
    <p class="paragraph">Mais si personne ne peut gagner avec les coups envisagés ? Pour l’instant, on renvoie 0 donc l’ordinateur va jouer un peu de façon aléatoire ou du moins pas du tout de façon intelligente. Il faut donc améliorer l’heuristique dans cette situation."</p>
    <p class="paragraph">Au puissance 4, il est évident qu’il vaut mieux jouer au milieu que sur les cotés car un pion au centre a plus de chances de se retrouver dans un alignement gagnant. Il faut donc que l’heuristique permette aussi à l’ordinateur de jouer des coups qui sont à fort potentiel le temps qu’une situation gagnante se présente. </p>
    <p class="paragraph">On peut estimer le potentiel futur d’un coup grâce à ce tableau : </p>
    <pre>

      [[3, 4,  5,  7,  5, 4, 3],
       [4, 6,  8, 10,  8, 6, 4],
       [5, 8, 11, 13, 11, 8, 5],
       [5, 8, 11, 13, 11, 8, 5],
       [4, 6,  8, 10,  8, 6, 4],
       [3, 4,  5,  7,  5, 4, 3]]
    </pre>
    <p class="paragraph">La valeur d’une case est définie par le nombre d’alignement possibles avec un pion posé à cette endroit-là. </p>
    <p class="paragraph">On veut donc que l’heuristique indique à l’ordinateur qu’il faut privilégier de jouer dans des cases à fort potentiel (c’est-à-dire, avec une grande valeur dans le tableau précédent.</p>
    <p class="paragraph">On peut donc utiliser la fonction suivante :</p>
    <pre>

        def heuristique(self):
            #permet d'estimer la valeur d'une instance
            if self.winning(True):
                #On teste si un des joueurs gagne et on y met un poids conséquent si c'est le cas.
                return 100*(42-self.nombre_de_pieces())
            elif self.winning(False):
              return -100*(42-self.nomre_de_pieces())
            else:
                #Si personne ne gagne, on estime l'instance avec le tableau d'heuristiques
                v1 = 0
                v2 = 0
                if not(self.est_joueur()):
                    couleur = 1
                else:
                    couleur = 2
                for i in range(1,self.nombre_lignes+1):
                    for j in range(1,self.nombre_colonnes+1):
                        if self.grille[i][j] == 1:
                            v1 += self.tableau_heuristique[i-1][j-1]
                        if self.grille[i][j] == 2:
                            v2 += self.tableau_heuristique[i-1][j-1]
                if couleur == 1:
                    return v1-v2
                if couleur == 2:
                    return v2-v1
    </pre>
    <p class="paragraph">Maintenant, on a une heuristique très performante. En prenant un paramètre de profondeur 4, il devient presque impossible de gagner contre lui, on peut à la limite, en faisant attention, chercher l’égalité. On pourrait augmenter encore la profondeur mais le temps de calcul devient alors conséquent et gêne pour jouer rapidement.</p>
    <p class="paragraph">De plus, on a utilisé cette heuristique avec le minimax mais on peut aussi l’utiliser avec l’élagage Alpha-Beta !</p>

  </section>

  
{% endblock %}
