<!doctype html>
<html lang="fr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    
    <title>AdversarIAle</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="icon" href="{% static 'blog/img/logoAdversarial.ico' %}" />

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'blog/css/signin.css' %}">
  </head>
  <body class="text-center">

      

{% if user.is_authenticated %}

<form class="form-signin">
	Vous êtes connecté, {{ user.username }} !
<ul><li><a href = "/"> Retour à l'accueil</a></li> <li><a href ="logout">
            Deconnexion</li></ul>
</form>
{% else %}

    <form class="form-signin" method="post">
        <a href="/"><img class="mb-4" src="{% static 'blog/img/human-brain.jpg' %}" width="300px" height="150px"></a>

        {% if error %}

<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
<a href = "/"> Retour à l'accueil</a>

{% endif %}
  
    {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Connectez-vous ! </h1>
  <label for="id_username" class="sr-only">Nom d'utilisateur</label>
  <input type="username" name="username" id="id_username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
  <label for="id_password" class="sr-only">Mot de passe</label>
  <input type="password" name="password" id="id_password" class="form-control" placeholder="Mot de passe" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Se souvenir de moi
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
  <label><a href = "/register">Pas encore inscrit ? Cliquez ici !</a></label>
  <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  
</form>
{% endif %}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
