* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.heading {
  padding: 10px;
  margin: 19.92px 0 19.92px 10%;
}

.bigheading {
  padding: 10px;
  margin: 19.92px 0 19.92px 10%;
  font-size: 105px;
}

.paragraph {
  padding: 10px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  margin: 16px 7% 16px 7%;
  line-height: 26px;
  text-align: justify;
}

.bdg-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
  background-color: #fafafa;
  padding: 0 0 100px 0;
}


ul {
  padding: 10px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  margin: 16px 7% 0px 7%;
  line-height: 26px;
  text-align: justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.legend {
  margin: 16px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#startTuto {
  padding: 10px;
  font-size: 35px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  margin: 16px 45% 0px 7%;
  line-height: 26px;
  text-align: justify;
}

#lienColab {
  padding: 10px;
  font-size: 35px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  margin: 16px 45% 0px 7%;
  line-height: 26px;
  text-align: justify;
}

#imageAccueil {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


form[class = "register-form"]{
    
    font-family: Trebuchet MS, Helvetica, sans-serif;
    margin: 50px 50px 50px 300px;   

}

.helptext{
  color: grey;
  font-size: 12px;
}

h2[label = 'title-signup']{
  margin: 100px 0px 0px 250px;
  color: blue;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}



a:hover {
  color: red;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


h2#pagetitle{
  text-align: center;  
}

#imagetitle{
  
  
  height:500px;
  width:100%;
}

pre {
  padding: 10px;
  margin: 16px 7% 16px 7%;
  line-height: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

code {
  padding: 10px;
  margin: 16px 7% 16px 7%;
  line-height: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#headlogo{
	clear:both;
	float:left;
	width: 350px;
	
}

table {
border: medium solid #000000;
width: 50%;
}

td, th {
border: thin solid #6495ed;
width: 50%;
font-family: Trebuchet MS, Helvetica, sans-serif;
}







